@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR|Open+Sans&display=swap'); /* font-family: 'Noto Serif KR', serif; font-family: 'Open Sans', sans-serif; */
@keyframes bg-change {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		z-index: -999;
	}
}
.main-intro {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	animation: bg-change 2s linear forwards;
	animation-delay: 6.5s;
	z-index: 999;
	display: none;
}
.main-intro svg {
	overflow: visible;
	width: 15vw;
	transform: translate(-13%, -1%);
}

.main {
	padding: 1rem;
	width: 100%;
	height: 100%;
	position: relative;
}
.main::before {
	content: '';
	background: url('../img/bg.jpg');
	width: 100%;
	height: 100%;
	background-size: cover;
	opacity: 0.4;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: -100;
}
.container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	border: 2px solid #444;
	/* border: 1px solid rgb(79, 130, 223); */
}
.main header {
	width: 100%;
}
.main section {
	width: 100%;
	min-height: 140px;
}
.main section ~ section {
	border-top: 1px solid #444;
}
.bar {
	display: flex;
	width: 100%;
	height: 140px;
	border-bottom: 1px solid #444;
	transition: 0.2s;
}
.bar .bar-logo {
	width: 140px;
	height: 100%;
	border-right: 1px solid #444;
	position: relative;
}
.bar .bar-logo::after {
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	background-image: url('../img/logo.svg');
	background-size: 110px auto;
	background-position: 35px 45px;
	background-repeat: no-repeat;
	opacity: 0.7;
}
.bar .bar-title {
	flex-grow: 1;
	position: relative;
	overflow: hidden;
}
.bar .bar-title h2 {
	position: absolute;
	opacity: 0.7;
	right: -10px;
	bottom: 0;
	font-size: 100px;
	font-family: 'Times New Roman', Times, serif;
	color: whitesmoke;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
		1px 1px 0 #000;
}
.bar .bar-contact {
	width: 320px;
	height: 100%;
	border-left: 1px solid #444;
}

.bar .bar-contact .bar-contact-info {
	height: 100%;
	width: 100%;
}
.bar-contact .bar-contact-info .bar-contact-title {
	position: relative;
	height: 100%;
	width: 100%;
	border-bottom: 1px solid #444;
	overflow: hidden;
}
.bar-contact .bar-contact-info .bar-contact-title span {
	white-space: nowrap;
	font-size: 15px;
	color: #777;
	position: absolute;
	z-index: 10;
	font-weight: bold;
	color: #ccc;
	transition: 1s;
}

.bar-contact .bar-contact-info .bar-contact-title span.active {
	font-size: 30px;
	animation: onActive 1s linear alternate infinite;
}
.bar-contact .bar-contact-info .bar-contact-title .contact-title-bottom {
	bottom: 12px;
	left: 10px;
}
.bar-contact .bar-contact-info .bar-contact-title .contact-title-right {
	top: 30px;
	right: 15px;
}
.bar-contact .bar-contact-info .bar-contact-detail {
	width: 100%;
	padding: 6px 10px;
	border: 1px solid transparent;
	transition: 1s;
}
.bar-contact .bar-contact-info .bar-contact-detail.active {
	animation: onActiveBox 1s linear alternate infinite;
	border-width: 2px;
	margin-bottom: -1px;
	margin-right: -1px;
}
.bar-contact .bar-contact-info .bar-contact-detail p {
	color: #444;
}
.bar-contact .bar-contact-info .bar-contact-detail p i {
	color: rgb(37, 109, 8);
}
.bar-contact .bar-contact-info .bar-contact-detail p:first-child i {
	font-size: 14px;
}
.bar-contact .bar-contact-info .bar-contact-detail p:last-child {
	font-size: 15px;
}
.bar-contact .bar-contact-info .bar-contact-detail p:last-child i {
	margin-right: 7px;
	padding-left: 2px;
}
.bar-contact .bar-contact-info .bar-contact-detail p ~ p {
	margin-top: 2px;
}
.bar-contact .bar-contact-icon {
	height: 100%;
	padding: 10px;
	border: 1px solid transparent;
	border-left: 1px solid #444;
	transition: 1s;
}
.bar-contact .bar-contact-icon.active {
	animation: onActiveBox 1s linear alternate infinite;
	border-width: 2px;
	margin-right: -1px;
}
.bar-contact .bar-contact-icon a {
	margin: auto;
	margin: 0;
}
.bar-contact .bar-contact-icon a ~ a {
	margin-top: 10px;
}
.bar-contact .bar-contact-icon a img {
	opacity: 0.7;
	width: 40px;
}

/* header-end */
section.content:nth-of-type(1) {
	height: calc(100vh - 200px);
}
section.content {
	min-height: calc(100vh - 38px);
}
/* nav */
nav.intro {
	width: 100%;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
	position: sticky;
	top: 0;
	left: 0;
	background: whitesmoke;
	z-index: 100;
}
nav.intro .content-title {
	text-align: center;
	padding: 10px;
	width: 170px;
	height: 100%;
	white-space: nowrap;
	border-right: 1px solid #444;
	background-color: whitesmoke;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23242425' fill-opacity='0.6' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
	position: relative;
}
nav.intro .content-title p {
	font-weight: bold;
	font-size: 18px;
	color: #444;
	font-family: 'Times New Roman', Times, serif;
	opacity: 0;
	transition: 0.5s;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-52%, -50%);
}
nav.intro .content-title p.active {
	opacity: 1;
}
nav.intro ul.category {
	width: calc(100% - 170px);
	height: 100%;
}
nav.intro ul.category li {
	width: 25%;
	height: 100%;
	padding: 10px;
	flex: 1;
	text-align: center;
	transition: 0.3s;
}
nav.intro ul.category li:first-child {
	border-left: none !important;
}
nav.intro ul.category li:last-child {
	border-right: none !important;
}
nav.intro ul.category li:hover {
	background: rgba(37, 109, 8, 0.2);
	border-left: 1px solid #444;
	border-right: 1px solid #444;
}
nav.intro ul.category li.active {
	background: rgba(37, 109, 8, 0.35);
	border-left: 1px solid #444;
	border-right: 1px solid #444;
}
nav.intro ul.category li a {
	display: block;
	width: 100%;
	height: 100%;
	color: #444;
}

.content {
	width: 100%;
}
.content .door-container {
	width: 100%;
	height: 100%;
	/* background: #333; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* perspective: 800px; */
}
.door {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.door .cursor {
}
.door .cursor::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	background: rgba(56, 161, 15, 0.7);
	border-radius: 50%;
	transform: translate(-100%, -100%);
	animation: cursorAni 1s linear infinite;
}
@keyframes cursorAni {
	0% {
		transform: scale(1);
		background: rgba(56, 161, 15, 1);
	}
	100% {
		transform: scale(3);
		background: rgba(56, 161, 15, 0.2);
	}
}

.door-back {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/* background: black; */
	overflow: hidden;
	/* border: 1px solid #444; */

	cursor: pointer;
}
.welcome {
	position: absolute;
	left: -100%;
	top: 50%;
	font-size: 3rem;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: contain;
	transition: 2s 0.7s;
	color: #5a5a5a;
	/* transition: duration delay */
	/* transform: translate3d(-100%, -55%, 0); */
	transform: translate(-50%, -55%);
	font-family: 'Times New Roman', Times, serif;
}
.welcome1 {
	font-size: 55px;
	/* color: rgba(67, 160, 30, 0.3); */
	color: whitesmoke;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.welcome2 {
	margin-left: 100px;
}
.welcome2 a {
	font-size: 80px;
	color: whitesmoke;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
		1px 1px 0 #000;
	transition: 0.3s;
}
.welcome2 a:hover {
	font-size: 80px;
}
.welcome2 a:first-child:hover {
	color: rgb(37, 109, 8);
	transform: rotate(-7deg) scale(1.2) translateY(-20px);
}
.welcome2 a:last-child:hover {
	color: rgb(218, 179, 5);
	transform: rotate(5deg) scale(1.2) translateY(5px);
}
.door-body {
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	transition: transform 1s;
	border: 1px solid #444;
	cursor: pointer;
}
.door .door-body::before {
	content: '';
	background-color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23424242' fill-opacity='0.7' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
	width: 100%;
	height: 100%;
	/* opacity: 0.4; */
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 000;
}
.door .door-body.door-left {
	left: 0;
	transform-origin: 0%;
	border-left: none;
}
.door .door-body.door-right {
	left: auto;
	right: 0;
	transform-origin: 100%;
	border-right: none;
}
.door-opened .door-left {
	transform: perspective(800px) rotateY(110deg);
}
.door-opened .door-right {
	transform: perspective(800px) rotateY(-110deg);
}
.door-opened .welcome {
	/* transform: translate3d(25vw, -55%, 0); */
	left: 50%;
	transform: translate(-50%, -55%);
}

.blank {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #444;
	background-color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%233f3f3f' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.work {
	width: 100%;

	display: flex;
	min-height: 50px;
	border-bottom: 1px solid #444;
}

.work .work-name {
	width: 100%;
	transition: all 0.5s ease-in-out;
	background-size: 100% auto;
}
.work .work-name a {
	display: block;
	padding: 100px 70px;
	width: 100%;
	height: 100%;
	font-size: 80px;
	font-family: 'Times New Roman', Times, serif;
	color: whitesmoke;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
		1px 1px 0 #000;
	flex-grow: 1;
	transition: 0.3s;
}
.work .work-name a:hover {
	background: rgba(225, 225, 225, 0.7);
}

.work .work-info {
	padding: 10px;
	position: relative;
	overflow: hidden;
	min-width: 180px;
}
.work .work-info::after {
	content: '';
	position: absolute;
	font-size: 150px;
	top: 80px;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
		1px 1px 0 #000;
	font-family: 'Times New Roman', Times, serif;
	writing-mode: vertical-rl;
	opacity: 0.3;
}
.work .work-info p {
}

.work1:hover .work-name {
	background: url('../img/work1.jpg') no-repeat center center;
}
.work1.work-name a {
	text-align: left;
}
.work1:hover .work-name a {
	color: rgb(37, 109, 8);
}
.work1 .work-info {
	border-left: 1px solid #444;
}
.work1 .work-info::after {
	content: 'vue';
	color: rgb(44, 124, 12);
	top: 80px;
	left: -45px;
	writing-mode: vertical-rl;
}
.work2:hover .work-name {
	background: url('../img/work2.jpg') no-repeat center center;
}
.work2.work-name a {
	text-align: right;
}
.work2:hover .work-name a {
	color: rgb(37, 109, 8);
}
.work2 .work-info {
	border-right: 1px solid #444;
}
.work2 .work-info::after {
	content: 'vue';
	color: rgb(44, 124, 12);
	top: 80px;
	right: -45px;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
}
.work3:hover .work-name {
	background: url('../img/work3.jpg') no-repeat center center;
}
.work3 .work-name a {
	text-align: center;
}
.work3:hover .work-name a {
	color: rgb(228, 146, 24);
}
.work3 .work-info {
	border-left: 1px solid #444;
}
.work3 .work-info::after {
	content: 'html';
	color: rgb(228, 146, 24);
	top: 30px;
	left: -45px;
	writing-mode: vertical-rl;
}
.work4:hover .work-name {
	background: url('../img/work4.jpg') no-repeat center center;
}
.work4.work-name a {
	text-align: right;
}
.work4:hover .work-name a {
	color: rgb(228, 146, 24);
}
.work4 .work-info {
	border-right: 1px solid #444;
}
.work4 .work-info::after {
	content: 'html';
	color: rgb(228, 146, 24);
	top: 30px;
	right: -45px;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
}

.work-d {
	width: 100%;
	display: flex;
	min-height: 50px;
	border-bottom: 1px solid #444;
}
.work-d .work-d-header {
	width: 100%;
	display: flex;
	border-bottom: 1px solid #444;
}
.work-d .work-d-header .work-name {
	width: 100%;
	padding: 20px;
	width: 100%;
	height: 100%;
	font-size: 40px;
	font-family: 'Times New Roman', Times, serif;
	color: rgb(66, 143, 214);
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
		1px 1px 0 #000;
	flex-grow: 1;
	transition: 0.3s;
}
.work-d .work-d-header .work-info {
	padding: 10px;
	position: relative;
	overflow: hidden;
	min-width: 180px;
}
.work-d .work-d-header .work-info::after {
	content: '';
	position: absolute;
	font-size: 150px;
	top: 80px;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
		1px 1px 0 #000;
	font-family: 'Times New Roman', Times, serif;
	/* writing-mode: vertical-rl; */
	opacity: 0.3;
}
.work-d .work-img {
}
.work-d .work-img img {
	width: 30vw;
	display: block;
}
.work-d1 .work-d-header .work-name {
	text-align: left;
}
.work-d1 .work-d-header .work-info {
	border-left: 1px solid #444;
}
.work-d1 .work-d-header .work-info::after {
	content: 'react';
	font-size: 90px;
	color: rgb(48, 119, 185);
	top: 10px;
	left: 3px;
}

@keyframes onActive {
	0% {
		color: #ccc;
	}
	100% {
		color: rgb(44, 124, 12);
	}
}
@keyframes onActiveBox {
	0% {
		background-color: transparent;
	}
	100% {
		background-color: rgba(67, 160, 30, 0.3);
	}
}
